<html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Add New Message</title>
</head>

<body>
    <div class="form">
        <h1 class="form-heading">Fill the form to send a message!</h1>

        <form method="post" action="/new">
            <label for="author">Your Name:
                <input name="author" type="text" required>
            </label>

            <label for="message">Your message:
                <input name="message" type="text" required>
            </label>

            <button type="submit">Send message</button>
            <a href="/">Changed your mind? Go back</a>
        </form>
    </div>
</body>

</html>