<html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Message Board</title>
</head>

<body>
    <div class="messages">
        <h1>Messages</h1>

        <% messages.forEach((message)=> { %>
            <div class="message">
                <p><strong>
                        <%= message.username %>:
                    </strong>
                    <%= message.text %>
                </p>
                <p class="date"><small>
                        (<%= new Date(message.added).toLocaleString() %>)
                    </small></p>
            </div>
            <% }) %>
                <a href="/new">Add a new message</a>
    </div>

</body>

</html>